{% extends "base.html" %}
{% block content %}

<div class="page-header">
	<h2>About</h2>
</div>

<div class="row">
	<div class="well col-md-4">
		<h3>What?</h3>
		<hr>
		<p class="lead"><b>SensibleDTU: Auditor </b> is part of <a href="http://www.sensible.dtu.dk/"><b> Sensible DTU</b></a> project. </p>
		<p>With this application you can access the data.</p>
	</div>
	
	<div class="well col-md-6 col-md-offset-1">
		<h3>Credits</h3>
		<hr>
		<p class="lead"><b>Albert Fernández</b>, s112213@student.dtu.dk</p>
		<p class="lead"><b>Arkadiusz Stopczynski</b>, arks@dtu.dk</p>
		<p class="lead"><b>Sune Lehmann</b>, sljo@dtu.dk</p>
	</div>
</div>

{% endblock %}
