{% extends "base.html" %}
{% load staticfiles %}

{% block head_css %}
    <link href="{% static "bower_components/dynatable/jquery.dynatable.css" %}" rel="stylesheet">
    <link href="{% static "bower_components/dcjs/dc.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">

    <!-- side bar -->
    <div class="col-md-1 sidebar">

         <ul class="nav nav-sidebar">
            <li><a href="{% url "dashboard" %}">Overview</a></li>
            <li><a href="{% url "researchers" %}">Researchers</a></li>
            <li class="active" ><a href="{% url "probes" %}">Probes</a></li>
          </ul>

    </div>

    <!-- content -->
    <div class="col-md-11">

    <div class="row">

      

    </div>

    <hr />

    </div>



</div>
{% endblock %}

{% block js %}
<script src="{% static "bower_components/jquery-ajax-singleton/jquery-ajax_singleton-0.0.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/jquery.equalheights/jquery.equalheights.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/dynatable/jquery.dynatable.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/queue-async/queue.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/d3/d3.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/crossfilter/crossfilter.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/dcjs/dc.js" %}" type="text/javascript"></script>
<script src="{% static "js/dashboard.js" %}" type="text/javascript"></script>
<script src="{% static "js/accesses.js" %}" type="text/javascript"></script>
{% endblock %}
