{% extends "base.html" %}
{% load staticfiles %}

{% block head_css %}
    <link href="{% static "bower_components/dynatable/jquery.dynatable.css" %}" rel="stylesheet">
    <link href="{% static "bower_components/dcjs/dc.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">

    <!-- side bar -->
    <div class="col-md-1 sidebar">

         <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <!--<li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>-->
          </ul>

    </div>

    <!-- content -->
    <div class="col-md-11">

    <div class="row">

        <div class="col-md-12">
          <div id="sensible-notification" class="alert alert-danger">
          </div>
        </div>

        <div class="col-md-3">
            <div class="box-stats">
                <div class="box-stat-thumbnail box-info">
                    <div class="boxchart"><i class="fa fa-bar-chart-o fa-3x fa-inverse"></i></div>
                </div>
                <span id="audit-accesses" class="box-value text-primary"></span>
                <span class="box-title text-muted">Accesses</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-stats">
                <div class="box-stat-thumbnail box-warning">
                    <div class="boxchart"><i class="fa fa-users fa-3x fa-inverse"></i></div>
                </div>
                <span id="audit-researcher" class="box-value text-primary"></span>
                <span class="box-title text-muted">Researchers</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-stats">
                <div class="box-stat-thumbnail box-success">
                    <div class="boxchart"><i class="fa fa-eye fa-3x fa-inverse"></i></div>
                </div>
                <span class="box-value text-primary">40%</span>
                <span class="box-title text-muted">Observations</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-stats">
                <div class="box-stat-thumbnail box-danger">
                    <div class="boxchart"><i class="fa fa-eye fa-3x fa-inverse"></i></div>
                </div>
                <span class="box-value text-primary">151230</span>
                <span class="box-title text-muted">Accesses</span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="panel-stats col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Accesses</div>
              <div class="panel-body">
                <div id="sensible-accesses-chart" class="sensible-chart" data-name="accesses" data-type="barChart"></div>
              </div>
            </div>
            </div>
        <div class="panel-stats col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">Accesses per Researcher</div>
              <div class="panel-body text-center">
                <div id="sensible-researcher-chart" class="sensible-chart" data-name="researchers" data-type="pieChart"></div>
              </div>
            </div>
        </div>
        <div class="panel-stats col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">Details</div>
              <div class="panel-body">
                <span>Accesses</span>
                    <div class="progress">
                      <div id="progress-access" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0% Complete (success)</span>
                      </div>
                    </div>

                    <span>Unique</span>
                    <div class="progress">
                      <div id="progress-unique" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0% Complete (success)</span>
                      </div>
                    </div>

                    <span>Views</span>
                    <div class="progress">
                      <div id="progress-views" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0% Complete (success)</span>
                      </div>
                    </div>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Resources</div>
              <div class="panel-body">
                <div id="sensible-resource-chart" class="sensible-chart" data-name="resource" data-type="rowChart"></div>
              </div>
            </div>
        </div>

         <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">Detail</div>
              <div class="panel-body">
                <div id="sensible-uniqueness-chart" class="sensible-chart" data-name="resource" data-type="rowChart"></div>
              </div>
            </div>
        </div>

    </div>

    </div>



</div>
{% endblock %}

{% block js %}
<script src="{% static "bower_components/jquery.equalheights/jquery.equalheights.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/dynatable/jquery.dynatable.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/d3/d3.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/crossfilter/crossfilter.js" %}" type="text/javascript"></script>
<script src="{% static "bower_components/dcjs/dc.js" %}" type="text/javascript"></script>
<script src="{% static "js/dashboard.js" %}" type="text/javascript"></script>
{% endblock %}
